<% layout('layouts/boilerplate') %>

    <body>

        <div class="row mt-3">
            <div class="col-8 offset-2">
                <form action="/listings/<%= listing._id %>?_method=PUT" method="post" novalidate
                    class="needs-validation" enctype="multipart/form-data">
                    <div class="container mt-5">
                        <h3>Edit Your Listing</h3>
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label><br>
                            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control"
                                required>
                            <div class="valid-feedback">
                                Title Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Enter a nice title!
                            </div>
                        </div><br>
                        <div class="mb-3"><label for="description" class="form-label">Description</label><br>
                            <textarea name="listing[description]" id="description" class="form-control"
                                required><%= listing.description %></textarea>
                            <div class="valid-feedback">
                                Description Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Enter a short description
                            </div>
                        </div><br>
                        <div class="mb-3">
                            <label class="form-label">Current Image</label><br>
                            <img src="<%= listing.image.url.replace('/upload','/upload/w_250') %>" alt="listing image"
                                style="border-radius: 8px;">
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Change Image (optional)</label><br>
                            <input name="listing[image][url]" type="file" class="form-control">
                        </div>

                        <div class="row">
                            <div class="mb-3 col-md-6"><label for="price" class="form-label">Price</label><br>
                                <input name="listing[price]" value="<%= listing.price %>" type="number"
                                    class="form-control" required>
                                <div class="valid-feedback">
                                    Price Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Enter Price(in positive integer)
                                </div>
                            </div><br>
                            <div class="mb-3 col-md-6"><label for="country" class="form-label">Country</label><br>
                                <input name="listing[country]" value="<%= listing.country %>" type="text"
                                    class="form-control" required>
                                <div class="valid-feedback">
                                    Country Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Enter a valid country name!
                                </div>
                            </div><br>
                        </div>
                        <div class="mb-3"><label for="location" class="form-label">Location</label><br>
                            <input name="listing[location]" value="<%= listing.location %>" type="text"
                                class="form-control" required>
                            <div class="valid-feedback">
                                Location Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Enter Location!
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark edit-btn mt-3">Edit</button>
                    </div>
                </form>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    </body>